<aside>
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <img class="mt-3 logo" src="../../../assets/images/logo.svg" alt="Site logo">
            <a class="navbar-brand" routerLink="/">
                <h4>Zonneveld</h4>
            </a>
            <hr class="mt-2 mb-3">
        </div>
    </div>
    <nav class="nav flex-column nav-pills">
        <div class="nav-link">
            <a routerLink="../home">
                <i class="fas fa-columns mr-4"></i>
                Dashboard
            </a>
        </div>
        <div class="nav-link">
            <a>
                <i class="fas fa-address-book mr-4"></i>
                Mijn patienten
            </a>
        </div>
        <div class="nav-link">
            <a routerLink="agenda">
                <i class="fas fa-calendar mr-4"></i>
                Mijn afspraken
            </a>
        </div>
        <div class="nav-link">
            <a routerLink="chat">
                <i class="fas fa-calendar mr-4"></i>
                Chat
            </a>
        </div>
        <div class="nav-link">
            <a>
                <i class="fas fa-prescription-bottle-alt mr-4"></i>
                Medicijnen
            </a>
        </div>
        <div *ngIf="loggedInGp.isAdmin" class="nav-link">
            <a routerLink="../home/admin">
                <i class="fas fa-user-lock mr-4"></i>
                Admin
            </a>
        </div>
        <div class="nav-link">
            <a routerLink="/">
                <i class="fas fa-sign-out-alt mr-4"></i>
                Log uit
            </a>
        </div>
    </nav>
    <div class="footer">
        <hr>
        <a href="tel:0612345678">
            <i class="fas fa-phone-alt mr-4"></i>
            06-12345678
        </a>
    </div>
</aside>
