<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid" id="container-nav">
        <a class="navbar-brand" id="zonnevelt-text" href="#">Zonnevelt</a>
    </div>
</nav>

<div class="container-fluid" id="container-top">
    <div class="container">
        <div class="row">
            <div class=" col-sm-12" id="div-second">
                <div id="div-container">
                    <h1 id="h1text">Een huisartsenpost maar dan digitaal.</h1>
                    <h3 id="h3text">Ook benieuwd of klachten?</h3>
                    <button type="button" class="btn btn-primary btn-lg"> Inloggen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="section-mid">
    <div class="row" id="div-row">
        <div class=" col-sm-6" id="div-col-sm-6-1">
            <div id="div3">
                <img src="../../../assets/images/doctor.png" height="400" width="400" id="img-2"/>
            </div>
        </div>
        <div class=" col-sm-6" id="2">
            <div id="div4">
                <h3>
                    <h1>Lorem Ipsum?</h1>
                    <h3>
                        orem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel massa sagittis, tempus
                        justo et, egestas metus. Aliquam placerat eros vitae volutpat posuere.
                        Morbi at nulla eleifend, tristique nulla sed, placerat nunc. Donec et ante feugiat tortor
                        laoreet placerat pellentesque vel magna.
                        Donec ultricies molestie lacus quis dignissim. Vestibulum justo ex, blandit et gravida id,
                        consectetur vel lorem. Ut elementum enim tortor,
                        ut dignissim ipsum suscipit vulputate. Integer et sagittis nibh, ut tempor mi. Fusce turpis
                        libero, ullamcorper facilisis nibh vitae, egestas rhoncus turpis.
                        Duis ac eros semper turpis facilisis pulvinar. Nulla vel iaculis neque, ac aliquam nulla.
                    </h3>
                </h3>
            </div>
        </div>
    </div>
</section>
<footer id="footer"><h1>Spoednummer bellen? 06 57389293</h1></footer>

