.w-100{
    padding-top: 100px;
}

.col-sm-5{
    margin: auto;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    height: 300px;
}

#div-2-header{
    text-align: center;
    margin-bottom: auto;
}
