a {
    color: black;
}
nav {
    width: 250px;
    height: 100vh;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.logo{
    width: 100px;
    margin-left: 50px;
}

.icon{
    margin: 5px;
    color: black;
}

.body {
    background-color: #f4f6f8;
    width: 100%;
    height: auto;
}