<div class="card my-3">
    <div class="position-relative d-flex justify-content-center w-100">
        <div
            *ngIf="response.message !== null"
            class="alert alert-dismissible position-absolute"
            [class.alert-success]="response.success"
            [class.alert-danger]="!response.success"
        >
            {{ response.message }}
            <button type="button" class="close" (click)="response.message = null">
                <span>&times;</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="card-title text-center">Mijn patienten</h3>
            <button (click)="openModal()" class="btn btn-success h-50 btn-sm">
                <i class="fas fa-plus mr-1"></i> Patient toevoegen
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>E-mail</th>
                <th>Telefoonnummer</th>
                <th>Mobielnummer</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients.slice(currentPage * ROWS_PER_PAGE, currentPage * ROWS_PER_PAGE + ROWS_PER_PAGE)">
                <td>{{ patient.lastName }}, {{ patient.firstName }} {{ patient.middleName }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.phoneNumber }}</td>
                <td>{{ patient.mobileNumber }}</td>
                <td>
                    <p>
                        <a routerLink="{{ patient.id }}" class="text-info mr-3">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a role="button" (click)="deletePatient(patient.id)" class="text-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
        <nav *ngIf="maxPages > 1">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage <= 0">
                    <button (click)="setPage(currentPage - 1)" class="page-link">
                        Vorige
                    </button>
                </li>
                <li class="page-item" [class.active]="page === currentPage" *ngFor="let page of toArray(maxPages)">
                    <button (click)="setPage(page)" class="page-link">
                        {{ page + 1 }}
                    </button>
                </li>
                <li class="page-item" [class.disabled]="(currentPage + 1) >= maxPages">
                    <button (click)="setPage(currentPage + 1)" class="page-link">
                        Volgende
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="modal fade" [class.show]="addPatientModalOpen" [class.is-active]="addPatientModalOpen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Patient toevoegen</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="patient-firstname" class="form-label">Voornaam</label>
                            <input type="text" class="form-control" name="patient-firstname" id="patient-firstname" [(ngModel)]="newPatient.firstName">
                        </div>
                        <div class="col">
                            <label for="patient-lastname" class="form-label">Achternaam</label>
                            <input type="text" class="form-control" name="patient-lastName" id="patient-lastname" [(ngModel)]="newPatient.lastName">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="patient-middleName" class="form-label">Tussenvoegsel</label>
                        <input type="text" class="form-control" name="patient-middleName" id="patient-middleName" [(ngModel)]="newPatient.middleName">
                    </div>
                    <div class="mb-3">
                        <label for="patient-email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" name="patient-email" id="patient-email" [(ngModel)]="newPatient.email">
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="patient-mobilenumber" class="form-label">Mobielenummer</label>
                            <input type="tel" class="form-control" name="patient-mobilenumber" id="patient-mobilenumber" [(ngModel)]="newPatient.mobileNumber">
                        </div>
                        <div class="col">
                            <label for="patient-phonenumber" class="form-label">Telefoonnummer</label>
                            <input type="tel" class="form-control" name="patient-phonenumber" id="patient-phonenumber" [(ngModel)]="newPatient.phoneNumber">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <button (click)="addPatient()" type="button" class="btn btn-success">
                            <i class="fas fa-save mr-1"></i> Opslaan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
