<h2 style="padding: 2%">Dashboard</h2>

<div class="row row-cols-2 g-2">
    <div class="col">
        <div class="card bg-light h-100">
            <div class="card-body">
                <h5 class="card-title">Welkom bij Infosupport</h5>
                <p class="card-text">Hier helpen wij u van uw kontkwaaltjes af</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light h-100">
            <div class="card-body">
                <h5 class="card-title">Afspraken</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light h-100">
            <div class="card-body">
                <h5 class="card-title">Chat</h5>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light h-100">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>
